.container {
    min-height: 100vh;
}

/* General Styles */

h1 {
    font-size: large;
    color: black;
}

h2 {
    font-size: medium;
    color: black;
}

h3 {
    font-size: small;
    color: black;
}

p {
    font-size: small;
    color: black;
}


/* HEADER/FOOTER */
header {
    font-size: large;
    float: left;
}

footer {
    font-size: small;
    float: left;
}


/* Question Process */
.questions {
    font-size: medium;
    color: blue;
}