.container {
    min-height: 100vh;
}

/* TYPOGRAPHY */

h1 {
    font-size: large;
    color: black;
}

h2 {
    font-size: medium;
    color: black;
}

h3 {
    font-size: small;
    color: black;
}

p {
    font-size: small;
    color: black;
}


/* QUESTION STYLING */
.qBox {
    border: 1px;
    border-color: grey;
    border-radius: 16px;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    min-height: max-content;
    min-width: max-content;
}

.qTitle {
    font-size: medium;
    color: black;
}

.qDescription {
    font-size: small;
    color: gray;
}

.qOptionsRow {
    flex-direction: row;
}

.qOptions {
    border-radius: 50%;
    align-content: center;
}

.qOptionsGreen {
    background-color: green;
}

.qOptionsRed {
    background-color: red;
}



/* HEADER/FOOTER */
header {
    font-size: large;
    float: left;
}

footer {
    background-color: black;
    font-size: small;
    align-items: center;
}


/* QUESTION PROCESS */
.questions {
    font-size: medium;
    color: blue;
}